
	<div class="product-card">
		<div class="product-image">
			<img src="{{ asset('images/' ~ product.image) }}" class="card-img" alt="...">
		</div>
		<div class="product-info">
			<h4>{{product.marque}}</h4>
			<h5>{{ product.name }}</h5>
			<h5>{{product.prix}}&euro;</h5>
			<button class="warning-button">
				<a href="{{ path('app_user_product_show', {'id' : product.id})}}">Check offer</a>
			</button>
		</div>
	</div>

